.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.767578;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.981934;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.383301;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.981934;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:1.346191;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.969238;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff7;src:url(f7.woff)format("woff");}.ff7{font-family:ff7;line-height:1.338867;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff8;src:url(f8.woff)format("woff");}.ff8{font-family:ff8;line-height:0.914062;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls2{letter-spacing:-0.768000px;}
.ls0{letter-spacing:0.000000px;}
.ls1{letter-spacing:0.096000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._2{margin-left:-4.488960px;}
._6{margin-left:-2.248960px;}
._0{margin-left:-1.144000px;}
._1{width:1.752960px;}
._8{width:5.176000px;}
._4{width:6.343040px;}
._5{width:8.208960px;}
._b{width:13.263040px;}
._7{width:20.640000px;}
._3{width:62.792000px;}
._a{width:129.936000px;}
._9{width:132.080000px;}
.fc1{color:rgb(51,51,51);}
.fc0{color:rgb(0,0,0);}
.fs4{font-size:24.000000px;}
.fs0{font-size:44.160000px;}
.fs1{font-size:48.000000px;}
.fs2{font-size:79.680000px;}
.fs3{font-size:88.320000px;}
.y2{bottom:0.000000px;}
.y23{bottom:2.880000px;}
.ye{bottom:2.900000px;}
.y6{bottom:4.590000px;}
.y27{bottom:9.600000px;}
.y22{bottom:16.800000px;}
.yd{bottom:16.820000px;}
.y5{bottom:18.030000px;}
.y21{bottom:30.480000px;}
.y26{bottom:30.720000px;}
.yc{bottom:32.660000px;}
.y4{bottom:32.910000px;}
.yb{bottom:48.500000px;}
.y25{bottom:51.390000px;}
.y3{bottom:54.750000px;}
.ya{bottom:64.340000px;}
.y2e{bottom:157.490000px;}
.y2d{bottom:179.810000px;}
.y2c{bottom:195.890000px;}
.y2b{bottom:211.730000px;}
.y0{bottom:215.000000px;}
.y2a{bottom:232.370000px;}
.y29{bottom:251.830000px;}
.y28{bottom:271.990000px;}
.y24{bottom:282.790000px;}
.y20{bottom:344.980000px;}
.y1f{bottom:396.340000px;}
.y1e{bottom:410.020000px;}
.y1d{bottom:423.700000px;}
.y1c{bottom:444.600000px;}
.y1b{bottom:465.240000px;}
.y1a{bottom:485.880000px;}
.y19{bottom:506.760000px;}
.y18{bottom:527.420000px;}
.y17{bottom:548.060000px;}
.y16{bottom:568.700000px;}
.y15{bottom:589.580000px;}
.y14{bottom:610.220000px;}
.y13{bottom:630.890000px;}
.y12{bottom:651.530000px;}
.y11{bottom:665.450000px;}
.y10{bottom:678.890000px;}
.yf{bottom:693.050000px;}
.y9{bottom:703.850000px;}
.y8{bottom:780.430000px;}
.y7{bottom:787.390000px;}
.y1{bottom:797.230000px;}
.h7{height:24.949219px;}
.h3{height:33.486562px;}
.h6{height:35.491875px;}
.h4{height:38.578125px;}
.hb{height:41.280000px;}
.he{height:45.583125px;}
.ha{height:49.546875px;}
.h9{height:49.898438px;}
.hd{height:50.671875px;}
.hc{height:62.184000px;}
.h2{height:66.264000px;}
.h8{height:75.144000px;}
.h5{height:93.236250px;}
.h1{height:649.000000px;}
.h0{height:935.520000px;}
.w2{width:85.488000px;}
.w8{width:178.870000px;}
.w6{width:192.310000px;}
.w7{width:272.760000px;}
.w5{width:297.480000px;}
.w3{width:365.900000px;}
.w1{width:452.000000px;}
.w4{width:595.439991px;}
.w0{width:595.440000px;}
.x7{left:0.000009px;}
.x3{left:5.520000px;}
.x5{left:13.440000px;}
.x4{left:18.000000px;}
.x6{left:25.680000px;}
.x1{left:69.626000px;}
.x0{left:71.500000px;}
.xa{left:108.049991px;}
.x2{left:157.510000px;}
.x9{left:297.719991px;}
.xb{left:344.780000px;}
.x8{left:369.500000px;}
.xc{left:396.169991px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls2{letter-spacing:-1.024000pt;}
.ls0{letter-spacing:0.000000pt;}
.ls1{letter-spacing:0.128000pt;}
.ws0{word-spacing:0.000000pt;}
._2{margin-left:-5.985280pt;}
._6{margin-left:-2.998613pt;}
._0{margin-left:-1.525333pt;}
._1{width:2.337280pt;}
._8{width:6.901333pt;}
._4{width:8.457387pt;}
._5{width:10.945280pt;}
._b{width:17.684053pt;}
._7{width:27.520000pt;}
._3{width:83.722667pt;}
._a{width:173.248000pt;}
._9{width:176.106667pt;}
.fs4{font-size:32.000000pt;}
.fs0{font-size:58.880000pt;}
.fs1{font-size:64.000000pt;}
.fs2{font-size:106.240000pt;}
.fs3{font-size:117.760000pt;}
.y2{bottom:0.000000pt;}
.y23{bottom:3.840000pt;}
.ye{bottom:3.866667pt;}
.y6{bottom:6.120000pt;}
.y27{bottom:12.800000pt;}
.y22{bottom:22.400000pt;}
.yd{bottom:22.426667pt;}
.y5{bottom:24.040000pt;}
.y21{bottom:40.640000pt;}
.y26{bottom:40.960000pt;}
.yc{bottom:43.546667pt;}
.y4{bottom:43.880000pt;}
.yb{bottom:64.666667pt;}
.y25{bottom:68.520000pt;}
.y3{bottom:73.000000pt;}
.ya{bottom:85.786667pt;}
.y2e{bottom:209.986667pt;}
.y2d{bottom:239.746667pt;}
.y2c{bottom:261.186667pt;}
.y2b{bottom:282.306667pt;}
.y0{bottom:286.666667pt;}
.y2a{bottom:309.826667pt;}
.y29{bottom:335.773333pt;}
.y28{bottom:362.653333pt;}
.y24{bottom:377.053333pt;}
.y20{bottom:459.973333pt;}
.y1f{bottom:528.453333pt;}
.y1e{bottom:546.693333pt;}
.y1d{bottom:564.933333pt;}
.y1c{bottom:592.800000pt;}
.y1b{bottom:620.320000pt;}
.y1a{bottom:647.840000pt;}
.y19{bottom:675.680000pt;}
.y18{bottom:703.226667pt;}
.y17{bottom:730.746667pt;}
.y16{bottom:758.266667pt;}
.y15{bottom:786.106667pt;}
.y14{bottom:813.626667pt;}
.y13{bottom:841.186667pt;}
.y12{bottom:868.706667pt;}
.y11{bottom:887.266667pt;}
.y10{bottom:905.186667pt;}
.yf{bottom:924.066667pt;}
.y9{bottom:938.466667pt;}
.y8{bottom:1040.573333pt;}
.y7{bottom:1049.853333pt;}
.y1{bottom:1062.973333pt;}
.h7{height:33.265625pt;}
.h3{height:44.648750pt;}
.h6{height:47.322500pt;}
.h4{height:51.437500pt;}
.hb{height:55.040000pt;}
.he{height:60.777500pt;}
.ha{height:66.062500pt;}
.h9{height:66.531250pt;}
.hd{height:67.562500pt;}
.hc{height:82.912000pt;}
.h2{height:88.352000pt;}
.h8{height:100.192000pt;}
.h5{height:124.315000pt;}
.h1{height:865.333333pt;}
.h0{height:1247.360000pt;}
.w2{width:113.984000pt;}
.w8{width:238.493333pt;}
.w6{width:256.413333pt;}
.w7{width:363.680000pt;}
.w5{width:396.640000pt;}
.w3{width:487.866667pt;}
.w1{width:602.666667pt;}
.w4{width:793.919988pt;}
.w0{width:793.920000pt;}
.x7{left:0.000012pt;}
.x3{left:7.360000pt;}
.x5{left:17.920000pt;}
.x4{left:24.000000pt;}
.x6{left:34.240000pt;}
.x1{left:92.834667pt;}
.x0{left:95.333333pt;}
.xa{left:144.066655pt;}
.x2{left:210.013333pt;}
.x9{left:396.959988pt;}
.xb{left:459.706667pt;}
.x8{left:492.666667pt;}
.xc{left:528.226655pt;}
}
